body {
  background-image:url('../img/escheresque.png');
  font-family: consolas, Helvetica, sans-serif;
  font-size: 150%; 
}

.textbox{
  width: 75%;
   margin: 0 auto;
}

.backgroundimg{
  background-opacity:  0.6;
  background-image:url('../img/faded.png');
  background-repeat: no-repeat;
  z-index: -1;
}

.semispacer{
 height:2em; 
}

.spacer{
 height:100em; 
}

.center{
 text-align: center; 
}

.imgbox{
 display: inline-block;
 text-align: center; 
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}
