

.custom-dropdown__select{
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
    padding-right: 2em;
    font-size: .9em;
    background-color: #fafafa;
    color: #445;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-style:solid;
        border-width: 1px; 
        border-color:#445;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\2B0B";
        height: 1.25em;
        font-size: 1.0em;
        line-height: 1;
        right: 0.5em;
        top: 50%;
        margin-top: -.45em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 1em;
        height: 100%;
        margin-top:-.5em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 0 0 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    .custom-dropdown::before {
        top: .5em; bottom: .5em;
        background-color: #fafafa;
        border-left: 0px solid rgba(0,0,0,.1);
    }

    .custom-dropdown::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown .custom-dropdown__select { padding-right: .5em }
    }
}
