
   body {
    background-image:url('../img/escheresque.png');
    font-family: consolas, helvitica, sans-serif;
    font-size:1em;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
   }
   .outer-content{
     margin: 0; 
   }
  .content{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
  }
  .controlContainer{
    position: absolute;
    font-size: 75%; 
    left: 0px;
    top: 0em;
    width: 16em;
    height: 90%;
    z-index: 2;
    pointer-events: auto;
  }
  .controls{
    transition: height 0.5s ease 0s;
    overflow: hidden;
    border-width: 1px;
    border-style: none solid solid none;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0em;
    z-index: 2;
  }
  .showhide{
    float: right;
    width: 1em;
    height:1em;
    margin: 0.45em;
    line-height: 110%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }
  .showhide:after{
    content: "\00b1";
  }
  .fpsmeter{
    position: absolute;
    font-size: 120%;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    padding: 0.5em;
  }
  #swatch{
    font-size: 120%;
    line-height: 80%;
  }
  #keyLabels{
    text-align: right;
  }
  #keyLabels #min2{
    z-index: 2; 
    position: absolute;
    top: 140px;
    right: 130px;
  }
  #keyLabels #max2{
    position: absolute;
    top: 140px;
    right: 10px;
  }
  #keyLabels #min1{
    z-index: 2; 
    position: absolute;
    top: 120px;
    right: 130px;
  }
  #keyLabels #max1{
    position: absolute;
    top: 20px;
    right: 130px;
  }
  .extent {
   float: right;
  }
  #canvas{
    position: relative;
    left: 0px;
    top: 0px;
    border-style:solid;
    border-width: 0 0 1px 0;
    border-color: black;
    padding: 0;
    margin:0;
    top:0px;
    left:0px;
    z-index:1;
    pointer-events: auto;
  }
  #canvas:hover {
    overflow-y: auto;
  }
 .background {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.9;
  }

@-webkit-keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
} 
  #crosshairs{
    position: absolute;
    animation: rotate 5s linear 0s infinite;
    -webkit-animation: rotate 5s linear 0s infinite;
    opacity: 0.0;
    transition: top 0.3s, right, 0.3s, opacity 1s;
    z-index: 3;
  }
  .controllabel{
   text-align: center;
   padding: 0.5em;
   height: 2em;
  }
  .control{
   margin: 5px 10px;
  }
  .retro{
    font-family: monospace;
  }
  input, label {
    display:block;
  }
  label {
    margin:0.3em;
    margin-left:0em;
  }
  input{
    margin-left: 0px;
    border: thin solid;
    max-width:70%;
    color: black;
    border-color: black;
    background-color: white;
  }
  input[type="checkbox"] {
    display:none;
  }
  input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:0.25em 0.25em 0 0;
    vertical-align:middle;
    background:url(img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
  }
  input[type="checkbox"]:checked + label span {
    background:url(img/check_radio_sheet.png) -19px top no-repeat;
  }
  .textbelow {
    margin-left: 1em;
  }
