  body{
    overflow-y: hidden;
    padding-right: 10px;
  }
  #surveyBox{
    pointer-events: auto;

    position: absolute;

    right: 25%;
    width: 50%;
    bottom: 0px;
    z-index: 5;
    padding: 1em;
    transition: bottom 0.5s;

    background-color: rgba(211, 215, 207, 0.75); 
    
    border-radius: 1em 1em 0 0;
    border-width: 2px 2px 0 2px;
    border-color: #346585;
    border-style: solid; 

    color: #204a87; 

    text-align: center;
  }

  .overlay{
    position: absolute;
    pointer-events: auto;

    right: 25%;
    width: 50%;
    top: 5em;
    z-index: 5;
    padding: 1em;

    background-color: rgba(211, 215, 207, 0.75); 
    
    border-radius: 1em;
    border-width: 2px ;
    border-color: #346585;
    border-style: solid; 

    color: #204a87; 

    text-align: center;
  }
  .overlay .title {
     display: block;
     font-size: 200%;
   }
  #surveyBox input {
     display: inline-block;
  }
  #outroText{
   display: none;
  }
  #surveyBox input, #surveyBox button, #surveyBox textarea#surveyTextInput, .overlay button {
    display: inline-block;

    color: #d3d7cf; 
    background: #204a87;
    border-radius: 2px;
    border-width: 1px;
    border-color: #204a87;
    border-style: solid;

    margin: 0.5em; 
  }
  .sortableImage {

    display: inline-block;
    
    text-align: center;

    color: #d3d7cf; 
    background: #204a87;
    border-radius: 2px;
    border-width: 1px;
    border-color: #204a87;
    border-style: solid;

    margin: 0.25em; 
  }

  #surveyBox button:active, .overlay button:active{
    background: #103a67;
    color: black;
  }

  #surveyBox button:disabled{
    background: #d3d7cf; 
    color: #204a87;
  }
  textarea#surveyTextInput{
    display: block;
    width: 80%;
    height: 7em;
  }
  .questionmeter{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    padding: 0.5em;
  }

  #keyLabels #xaxislabel{
    z-index: 2; 
    position: absolute;
    top: 155px;
    right: 35px;
  }
  #keyLabels #yaxislabel{
    position: absolute;
    top: 70px;
    right: 140px;
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
  }

  .instructions {
    position: absolute; 
    left: 0px;
    bottom: 0px;
    z-index: 2;
    padding: 0.5em;
   }
